@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 40 23% 97%;
        --foreground: 207 15% 12%;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 207 15% 12%;
            --foreground: 40 23% 97%;
        }
    }

    body {
        @apply bg-background text-foreground;
    }
}
